Crypto_orderbook_withS3.json
{
  "flowContents": {
    "identifier": "cd19d3f5-335c-335f-9b63-a41153ffaaf5",
    "instanceIdentifier": "d2afc55a-0181-1000-0000-00003c5d2d0d",
    "name": "Crypto Demo_withS3",
    "comments": "",
    "position": {
      "x": 2000.0,
      "y": 328.0
    },
    "processGroups": [
      
    ],
    "remoteProcessGroups": [
      
    ],
    "processors": [
      {
        "identifier": "098fc97d-0714-371d-a1fa-b9a47b7fc3b2",
        "instanceIdentifier": "d2cab53d-0181-1000-ffff-ffffea8baef3",
        "name": "ConvertRecord",
        "comments": "",
        "position": {
          "x": 56.0,
          "y": 440.0
        },
        "type": "org.apache.nifi.processors.standard.ConvertRecord",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.16.0.2.2.5.1-1"
        },
        "properties": {
          "record-writer": "d97fafbd-3ab7-3791-abcb-8c027c863c6b",
          "record-reader": "c5b28ed7-85dc-337a-b6cc-15a8de026457",
          "include-zero-record-flowfiles": "true"
        },
        "propertyDescriptors": {
          "record-writer": {
            "name": "record-writer",
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "record-reader": {
            "name": "record-reader",
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "include-zero-record-flowfiles": {
            "name": "include-zero-record-flowfiles",
            "displayName": "Include Zero Record FlowFiles",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "style": {
          
        },
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [
          
        ],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "cd19d3f5-335c-335f-9b63-a41153ffaaf5"
      },
      {
        "identifier": "f7a70e54-5d40-36d9-9ee6-8e30c58d758a",
        "instanceIdentifier": "1752da0e-7c94-3790-96e6-d77e9cb58c53",
        "name": "UpdateAttribute",
        "comments": "",
        "position": {
          "x": 56.0,
          "y": -408.0
        },
        "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-update-attribute-nar",
          "version": "1.16.0.2.2.5.1-1"
        },
        "properties": {
          "Delete Attributes Expression": null,
          "Store State": "Do not store state",
          "canonical-value-lookup-cache-size": "100",
          "Stateful Variables Initial Value": null,
          "timestamp": "${now():toNumber()}"
        },
        "propertyDescriptors": {
          "Delete Attributes Expression": {
            "name": "Delete Attributes Expression",
            "displayName": "Delete Attributes Expression",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Store State": {
            "name": "Store State",
            "displayName": "Store State",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "canonical-value-lookup-cache-size": {
            "name": "canonical-value-lookup-cache-size",
            "displayName": "Cache Value Lookup Cache Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Stateful Variables Initial Value": {
            "name": "Stateful Variables Initial Value",
            "displayName": "Stateful Variables Initial Value",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "timestamp": {
            "name": "timestamp",
            "displayName": "timestamp",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "style": {
          
        },
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [
          
        ],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "cd19d3f5-335c-335f-9b63-a41153ffaaf5"
      },
      {
        "identifier": "156b3f4b-4a88-366c-81b3-49bbc7e4a099",
        "instanceIdentifier": "0674de50-8b50-340b-87b8-e6d2e274ceaf",
        "name": "QueryRecord",
        "comments": "",
        "position": {
          "x": 56.0,
          "y": -200.0
        },
        "type": "org.apache.nifi.processors.standard.QueryRecord",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.16.0.2.2.5.1-1"
        },
        "properties": {
          "cache-schema": "true",
          "dbf-default-precision": "10",
          "record-writer": "42b76ac1-2468-3191-b488-f27ff6a8619d",
          "asks": "select symbol,asks,'${timestamp}' as \"timestamp\" from FLOWFILE",
          "bids": "select symbol,bids,'${timestamp}' as \"timestamp\" from FLOWFILE",
          "record-reader": "c5b28ed7-85dc-337a-b6cc-15a8de026457",
          "include-zero-record-flowfiles": "true",
          "dbf-default-scale": "0"
        },
        "propertyDescriptors": {
          "cache-schema": {
            "name": "cache-schema",
            "displayName": "Cache Schema",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbf-default-precision": {
            "name": "dbf-default-precision",
            "displayName": "Default Decimal Precision",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "record-writer": {
            "name": "record-writer",
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "asks": {
            "name": "asks",
            "displayName": "asks",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "bids": {
            "name": "bids",
            "displayName": "bids",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "record-reader": {
            "name": "record-reader",
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "include-zero-record-flowfiles": {
            "name": "include-zero-record-flowfiles",
            "displayName": "Include Zero Record FlowFiles",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbf-default-scale": {
            "name": "dbf-default-scale",
            "displayName": "Default Decimal Scale",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "style": {
          
        },
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "original",
          "failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [
          
        ],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "cd19d3f5-335c-335f-9b63-a41153ffaaf5"
      },
      {
        "identifier": "860b0392-147f-3ab8-ada4-0e431ad56955",
        "instanceIdentifier": "5a57d631-b7a5-34ef-8bef-6164cad050b8",
        "name": "InvokeHTTP",
        "comments": "",
        "position": {
          "x": 56.0,
          "y": -616.0
        },
        "type": "org.apache.nifi.processors.standard.InvokeHTTP",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.16.0.2.2.5.1-1"
        },
        "properties": {
          "Proxy Host": null,
          "Attributes to Send": null,
          "use-etag": "false",
          "proxy-configuration-service": null,
          "Proxy Type": "http",
          "Connection Timeout": "5 secs",
          "send-message-body": "true",
          "set-form-filename": "true",
          "Always Output Response": "false",
          "etag-max-cache-size": "10MB",
          "disable-http2": "False",
          "idle-timeout": "5 mins",
          "Put Response Body In Attribute": null,
          "Use Chunked Encoding": "false",
          "Follow Redirects": "True",
          "Remote URL": "#{CryptoOrderBookAPI}",
          "Content-Type": "${mime.type}",
          "form-body-form-name": null,
          "flow-file-naming-strategy": "RANDOM",
          "max-idle-connections": "5",
          "invokehttp-proxy-user": null,
          "Read Timeout": "15 secs",
          "Max Length To Put In Attribute": "256",
          "ignore-response-content": "false",
          "Proxy Port": null,
          "SSL Context Service": null,
          "Digest Authentication": "false",
          "HTTP Method": "GET",
          "Add Response Headers to Request": "false",
          "Basic Authentication Username": null,
          "oauth2-access-token-provider": null,
          "Include Date Header": "True",
          "Penalize on \"No Retry\"": "false",
          "Useragent": null
        },
        "propertyDescriptors": {
          "Proxy Host": {
            "name": "Proxy Host",
            "displayName": "Proxy Host",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Attributes to Send": {
            "name": "Attributes to Send",
            "displayName": "Attributes to Send",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "use-etag": {
            "name": "use-etag",
            "displayName": "Use HTTP ETag",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "proxy-configuration-service": {
            "name": "proxy-configuration-service",
            "displayName": "Proxy Configuration Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Proxy Type": {
            "name": "Proxy Type",
            "displayName": "Proxy Type",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Basic Authentication Password": {
            "name": "Basic Authentication Password",
            "displayName": "Basic Authentication Password",
            "identifiesControllerService": false,
            "sensitive": true
          },
          "Connection Timeout": {
            "name": "Connection Timeout",
            "displayName": "Connection Timeout",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "send-message-body": {
            "name": "send-message-body",
            "displayName": "Send Message Body",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "set-form-filename": {
            "name": "set-form-filename",
            "displayName": "Set FlowFile Form Data File Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Always Output Response": {
            "name": "Always Output Response",
            "displayName": "Always Output Response",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "etag-max-cache-size": {
            "name": "etag-max-cache-size",
            "displayName": "Maximum ETag Cache Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "disable-http2": {
            "name": "disable-http2",
            "displayName": "Disable HTTP/2",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "idle-timeout": {
            "name": "idle-timeout",
            "displayName": "Idle Timeout",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Put Response Body In Attribute": {
            "name": "Put Response Body In Attribute",
            "displayName": "Put Response Body In Attribute",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Use Chunked Encoding": {
            "name": "Use Chunked Encoding",
            "displayName": "Use Chunked Encoding",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Follow Redirects": {
            "name": "Follow Redirects",
            "displayName": "Follow Redirects",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Remote URL": {
            "name": "Remote URL",
            "displayName": "Remote URL",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Content-Type": {
            "name": "Content-Type",
            "displayName": "Content-Type",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "form-body-form-name": {
            "name": "form-body-form-name",
            "displayName": "FlowFile Form Data Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "flow-file-naming-strategy": {
            "name": "flow-file-naming-strategy",
            "displayName": "FlowFile Naming Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "max-idle-connections": {
            "name": "max-idle-connections",
            "displayName": "Max Idle Connections",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "invokehttp-proxy-user": {
            "name": "invokehttp-proxy-user",
            "displayName": "Proxy Username",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Read Timeout": {
            "name": "Read Timeout",
            "displayName": "Read Timeout",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Max Length To Put In Attribute": {
            "name": "Max Length To Put In Attribute",
            "displayName": "Max Length To Put In Attribute",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "invokehttp-proxy-password": {
            "name": "invokehttp-proxy-password",
            "displayName": "Proxy Password",
            "identifiesControllerService": false,
            "sensitive": true
          },
          "ignore-response-content": {
            "name": "ignore-response-content",
            "displayName": "Ignore response's content",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Proxy Port": {
            "name": "Proxy Port",
            "displayName": "Proxy Port",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "SSL Context Service": {
            "name": "SSL Context Service",
            "displayName": "SSL Context Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Digest Authentication": {
            "name": "Digest Authentication",
            "displayName": "Use Digest Authentication",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "HTTP Method": {
            "name": "HTTP Method",
            "displayName": "HTTP Method",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Add Response Headers to Request": {
            "name": "Add Response Headers to Request",
            "displayName": "Add Response Headers to Request",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Basic Authentication Username": {
            "name": "Basic Authentication Username",
            "displayName": "Basic Authentication Username",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "oauth2-access-token-provider": {
            "name": "oauth2-access-token-provider",
            "displayName": "OAuth2 Access Token provider",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Include Date Header": {
            "name": "Include Date Header",
            "displayName": "Include Date Header",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Penalize on \"No Retry\"": {
            "name": "Penalize on \"No Retry\"",
            "displayName": "Penalize on \"No Retry\"",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Useragent": {
            "name": "Useragent",
            "displayName": "Useragent",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "style": {
          
        },
        "schedulingPeriod": "2 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "PRIMARY",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "No Retry",
          "Retry",
          "Original",
          "Failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [
          
        ],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "cd19d3f5-335c-335f-9b63-a41153ffaaf5"
      },
      {
        "identifier": "3c7dcbc0-edf2-3e00-ae26-1640cf30694a",
        "instanceIdentifier": "d2b0d598-0181-1000-0000-0000311917fe",
        "name": "PutS3Object",
        "comments": "",
        "position": {
          "x": 64.0,
          "y": 656.0
        },
        "type": "org.apache.nifi.processors.aws.s3.PutS3Object",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-aws-nar",
          "version": "1.16.0.2.2.5.1-1"
        },
        "properties": {
          "Proxy Host": null,
          "FullControl User List": "${s3.permissions.full.users}",
          "Owner": "${s3.owner}",
          "Access Key": "#{AWS Access Key ID}",
          "proxy-configuration-service": null,
          "Cache Control": null,
          "s3-object-remove-tags-prefix": "false",
          "Endpoint Override URL": null,
          "Multipart Upload Max Age Threshold": "7 days",
          "canned-acl": "${s3.permissions.cannedacl}",
          "Signer Override": "Default Signature",
          "Content Type": null,
          "Secret Key": "#{AWS Secret Access Key}",
          "Write ACL User List": "${s3.permissions.writeacl.users}",
          "server-side-encryption": "None",
          "Read ACL User List": "${s3.permissions.readacl.users}",
          "encryption-service": null,
          "Content Disposition": null,
          "Storage Class": "Standard",
          "Multipart Part Size": "5 GB",
          "use-chunked-encoding": "true",
          "Object Key": "${filename}",
          "AWS Credentials Provider service": null,
          "Multipart Threshold": "5 GB",
          "s3-object-tags-prefix": null,
          "SSL Context Service": null,
          "Bucket": "#{s3 location for data}",
          "Multipart Upload AgeOff Interval": "60 min",
          "use-path-style-access": "false",
          "Write Permission User List": "${s3.permissions.write.users}",
          "Communications Timeout": "30 secs",
          "Credentials File": null,
          "Region": "eu-west-1",
          "Read Permission User List": "${s3.permissions.read.users}",
          "Expiration Time Rule": null,
          "proxy-user-name": null,
          "Proxy Host Port": null,
          "s3-temporary-directory-multipart": "${java.io.tmpdir}"
        },
        "propertyDescriptors": {
          "Proxy Host": {
            "name": "Proxy Host",
            "displayName": "Proxy Host",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "FullControl User List": {
            "name": "FullControl User List",
            "displayName": "FullControl User List",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Owner": {
            "name": "Owner",
            "displayName": "Owner",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Access Key": {
            "name": "Access Key",
            "displayName": "Access Key ID",
            "identifiesControllerService": false,
            "sensitive": true
          },
          "proxy-configuration-service": {
            "name": "proxy-configuration-service",
            "displayName": "Proxy Configuration Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Cache Control": {
            "name": "Cache Control",
            "displayName": "Cache Control",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "s3-object-remove-tags-prefix": {
            "name": "s3-object-remove-tags-prefix",
            "displayName": "Remove Tag Prefix",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Endpoint Override URL": {
            "name": "Endpoint Override URL",
            "displayName": "Endpoint Override URL",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Multipart Upload Max Age Threshold": {
            "name": "Multipart Upload Max Age Threshold",
            "displayName": "Multipart Upload Max Age Threshold",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "canned-acl": {
            "name": "canned-acl",
            "displayName": "Canned ACL",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Signer Override": {
            "name": "Signer Override",
            "displayName": "Signer Override",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "proxy-user-password": {
            "name": "proxy-user-password",
            "displayName": "Proxy Password",
            "identifiesControllerService": false,
            "sensitive": true
          },
          "Content Type": {
            "name": "Content Type",
            "displayName": "Content Type",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Secret Key": {
            "name": "Secret Key",
            "displayName": "Secret Access Key",
            "identifiesControllerService": false,
            "sensitive": true
          },
          "Write ACL User List": {
            "name": "Write ACL User List",
            "displayName": "Write ACL User List",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "server-side-encryption": {
            "name": "server-side-encryption",
            "displayName": "Server Side Encryption",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Read ACL User List": {
            "name": "Read ACL User List",
            "displayName": "Read ACL User List",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "encryption-service": {
            "name": "encryption-service",
            "displayName": "Encryption Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Content Disposition": {
            "name": "Content Disposition",
            "displayName": "Content Disposition",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Storage Class": {
            "name": "Storage Class",
            "displayName": "Storage Class",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Multipart Part Size": {
            "name": "Multipart Part Size",
            "displayName": "Multipart Part Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "use-chunked-encoding": {
            "name": "use-chunked-encoding",
            "displayName": "Use Chunked Encoding",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Object Key": {
            "name": "Object Key",
            "displayName": "Object Key",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "AWS Credentials Provider service": {
            "name": "AWS Credentials Provider service",
            "displayName": "AWS Credentials Provider Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Multipart Threshold": {
            "name": "Multipart Threshold",
            "displayName": "Multipart Threshold",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "s3-object-tags-prefix": {
            "name": "s3-object-tags-prefix",
            "displayName": "Object Tags Prefix",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "SSL Context Service": {
            "name": "SSL Context Service",
            "displayName": "SSL Context Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Bucket": {
            "name": "Bucket",
            "displayName": "Bucket",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Multipart Upload AgeOff Interval": {
            "name": "Multipart Upload AgeOff Interval",
            "displayName": "Multipart Upload AgeOff Interval",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "use-path-style-access": {
            "name": "use-path-style-access",
            "displayName": "Use Path Style Access",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Write Permission User List": {
            "name": "Write Permission User List",
            "displayName": "Write Permission User List",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Communications Timeout": {
            "name": "Communications Timeout",
            "displayName": "Communications Timeout",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Credentials File": {
            "name": "Credentials File",
            "displayName": "Credentials File",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": {
              "cardinality": "SINGLE",
              "resourceTypes": [
                "FILE"
              ]
            }
          },
          "Region": {
            "name": "Region",
            "displayName": "Region",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Read Permission User List": {
            "name": "Read Permission User List",
            "displayName": "Read Permission User List",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Expiration Time Rule": {
            "name": "Expiration Time Rule",
            "displayName": "Expiration Time Rule",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "proxy-user-name": {
            "name": "proxy-user-name",
            "displayName": "Proxy Username",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Proxy Host Port": {
            "name": "Proxy Host Port",
            "displayName": "Proxy Host Port",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "s3-temporary-directory-multipart": {
            "name": "s3-temporary-directory-multipart",
            "displayName": "Temporary Directory Multipart State",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "style": {
          
        },
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "success"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [
          
        ],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "cd19d3f5-335c-335f-9b63-a41153ffaaf5"
      },
      {
        "identifier": "ee0813a3-9c26-3574-9521-87a15e36760b",
        "instanceIdentifier": "d2b04773-0181-1000-ffff-ffffb6f8b77c",
        "name": "MergeRecord",
        "comments": "",
        "position": {
          "x": 56.0,
          "y": 224.0
        },
        "type": "org.apache.nifi.processors.standard.MergeRecord",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.16.0.2.2.5.1-1"
        },
        "properties": {
          "max-bin-age": "30 seconds",
          "correlation-attribute-name": null,
          "Attribute Strategy": "Keep Only Common Attributes",
          "min-records": "10",
          "max-bin-size": null,
          "record-writer": "42b76ac1-2468-3191-b488-f27ff6a8619d",
          "merge-strategy": "Bin-Packing Algorithm",
          "record-reader": "c5b28ed7-85dc-337a-b6cc-15a8de026457",
          "max-records": "1000",
          "min-bin-size": "128 MB",
          "max.bin.count": "10"
        },
        "propertyDescriptors": {
          "max-bin-age": {
            "name": "max-bin-age",
            "displayName": "Max Bin Age",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "correlation-attribute-name": {
            "name": "correlation-attribute-name",
            "displayName": "Correlation Attribute Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Attribute Strategy": {
            "name": "Attribute Strategy",
            "displayName": "Attribute Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "min-records": {
            "name": "min-records",
            "displayName": "Minimum Number of Records",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "max-bin-size": {
            "name": "max-bin-size",
            "displayName": "Maximum Bin Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "record-writer": {
            "name": "record-writer",
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "merge-strategy": {
            "name": "merge-strategy",
            "displayName": "Merge Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "record-reader": {
            "name": "record-reader",
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "max-records": {
            "name": "max-records",
            "displayName": "Maximum Number of Records",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "min-bin-size": {
            "name": "min-bin-size",
            "displayName": "Minimum Bin Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "max.bin.count": {
            "name": "max.bin.count",
            "displayName": "Maximum Number of Bins",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "style": {
          
        },
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "original",
          "failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [
          
        ],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "cd19d3f5-335c-335f-9b63-a41153ffaaf5"
      },
      {
        "identifier": "7b29ea73-c491-36f3-96b5-9f8674c68d46",
        "instanceIdentifier": "f41dafba-e5ed-311a-807e-475a8e2dbeab",
        "name": "JoltTransformRecord",
        "comments": "",
        "position": {
          "x": 56.0,
          "y": 16.0
        },
        "type": "org.apache.nifi.processors.jolt.record.JoltTransformRecord",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-jolt-record-nar",
          "version": "1.16.0.2.2.5.1-1"
        },
        "properties": {
          "jolt-record-record-writer": "42b76ac1-2468-3191-b488-f27ff6a8619d",
          "jolt-record-transform-cache-size": "1",
          "jolt-record-custom-class": null,
          "jolt-record-custom-modules": null,
          "jolt-record-transform": "jolt-transform-chain",
          "jolt-record-record-reader": "c5b28ed7-85dc-337a-b6cc-15a8de026457",
          "jolt-record-spec": "[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"bids\": {\n        \"*\": {\n\t\t \"#bids\": \"[&1].operation\",\n          \"@(2,symbol)\": \"[&1].symbol\",\n          \"px\": \"[&1].px\",\n          \"qty\": \"[&1].qty\",\n          \"num\": \"[&1].num\",\n\t\t\t\"@(2,timestamp)\": \"[&1].entry_date\"\n        }\n      },\n\t\"asks\": {\n        \"*\": {\n\t\t \"#asks\": \"[&1].operation\",\n          \"@(2,symbol)\": \"[&1].symbol\",\n          \"px\": \"[&1].px\",\n          \"qty\": \"[&1].qty\",\n          \"num\": \"[&1].num\",\n\t\t\t\"@(2,timestamp)\": \"[&1].entry_date\"\n        }\n      }\n    }\n    }\n]"
        },
        "propertyDescriptors": {
          "jolt-record-record-writer": {
            "name": "jolt-record-record-writer",
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "jolt-record-transform-cache-size": {
            "name": "jolt-record-transform-cache-size",
            "displayName": "Transform Cache Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "jolt-record-custom-class": {
            "name": "jolt-record-custom-class",
            "displayName": "Custom Transformation Class Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "jolt-record-custom-modules": {
            "name": "jolt-record-custom-modules",
            "displayName": "Custom Module Directory",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": {
              "cardinality": "MULTIPLE",
              "resourceTypes": [
                "DIRECTORY",
                "FILE"
              ]
            }
          },
          "jolt-record-transform": {
            "name": "jolt-record-transform",
            "displayName": "Jolt Transformation DSL",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "jolt-record-record-reader": {
            "name": "jolt-record-record-reader",
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "jolt-record-spec": {
            "name": "jolt-record-spec",
            "displayName": "Jolt Specification",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "style": {
          
        },
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "original",
          "failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [
          
        ],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "cd19d3f5-335c-335f-9b63-a41153ffaaf5"
      }
    ],
    "inputPorts": [
      
    ],
    "outputPorts": [
      
    ],
    "connections": [
      {
        "identifier": "bbf9e669-2952-3890-b4ce-83d5a0eabb09",
        "instanceIdentifier": "d2cae30d-0181-1000-0000-00003f5319b3",
        "name": "",
        "source": {
          "id": "098fc97d-0714-371d-a1fa-b9a47b7fc3b2",
          "type": "PROCESSOR",
          "groupId": "cd19d3f5-335c-335f-9b63-a41153ffaaf5",
          "name": "ConvertRecord",
          "comments": "",
          "instanceIdentifier": "d2cab53d-0181-1000-ffff-ffffea8baef3"
        },
        "destination": {
          "id": "3c7dcbc0-edf2-3e00-ae26-1640cf30694a",
          "type": "PROCESSOR",
          "groupId": "cd19d3f5-335c-335f-9b63-a41153ffaaf5",
          "name": "PutS3Object",
          "comments": "",
          "instanceIdentifier": "d2b0d598-0181-1000-0000-0000311917fe"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [
          
        ],
        "bends": [
          
        ],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "cd19d3f5-335c-335f-9b63-a41153ffaaf5"
      },
      {
        "identifier": "d15e7b20-a04c-30a2-9bc3-ad655f008961",
        "instanceIdentifier": "6d066660-e8d7-3eb3-b27f-a6b280317b19",
        "name": "",
        "source": {
          "id": "7b29ea73-c491-36f3-96b5-9f8674c68d46",
          "type": "PROCESSOR",
          "groupId": "cd19d3f5-335c-335f-9b63-a41153ffaaf5",
          "name": "JoltTransformRecord",
          "comments": "",
          "instanceIdentifier": "f41dafba-e5ed-311a-807e-475a8e2dbeab"
        },
        "destination": {
          "id": "ee0813a3-9c26-3574-9521-87a15e36760b",
          "type": "PROCESSOR",
          "groupId": "cd19d3f5-335c-335f-9b63-a41153ffaaf5",
          "name": "MergeRecord",
          "comments": "",
          "instanceIdentifier": "d2b04773-0181-1000-ffff-ffffb6f8b77c"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [
          
        ],
        "bends": [
          
        ],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "cd19d3f5-335c-335f-9b63-a41153ffaaf5"
      },
      {
        "identifier": "c3f593da-0653-3272-900f-e2e0bc3789de",
        "instanceIdentifier": "d2c89b67-0181-1000-ffff-ffffc65d10a2",
        "name": "",
        "source": {
          "id": "3c7dcbc0-edf2-3e00-ae26-1640cf30694a",
          "type": "PROCESSOR",
          "groupId": "cd19d3f5-335c-335f-9b63-a41153ffaaf5",
          "name": "PutS3Object",
          "comments": "",
          "instanceIdentifier": "d2b0d598-0181-1000-0000-0000311917fe"
        },
        "destination": {
          "id": "c8a23b64-f67d-3804-897f-61a09cf5fec0",
          "type": "FUNNEL",
          "groupId": "cd19d3f5-335c-335f-9b63-a41153ffaaf5",
          "name": "Funnel",
          "comments": "",
          "instanceIdentifier": "d2d4b603-0181-1000-0000-000049db972f"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "failure"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [
          
        ],
        "bends": [
          {
            "x": 536.6068115234375,
            "y": 682.2188110351562
          },
          {
            "x": 536.6068115234375,
            "y": 732.2188110351562
          }
        ],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "cd19d3f5-335c-335f-9b63-a41153ffaaf5"
      },
      {
        "identifier": "83020491-89a7-3861-89ad-b6fe9bbb1131",
        "instanceIdentifier": "98a54c4f-c9ce-3ce8-b1f6-7545f57eab48",
        "name": "",
        "source": {
          "id": "f7a70e54-5d40-36d9-9ee6-8e30c58d758a",
          "type": "PROCESSOR",
          "groupId": "cd19d3f5-335c-335f-9b63-a41153ffaaf5",
          "name": "UpdateAttribute",
          "comments": "",
          "instanceIdentifier": "1752da0e-7c94-3790-96e6-d77e9cb58c53"
        },
        "destination": {
          "id": "156b3f4b-4a88-366c-81b3-49bbc7e4a099",
          "type": "PROCESSOR",
          "groupId": "cd19d3f5-335c-335f-9b63-a41153ffaaf5",
          "name": "QueryRecord",
          "comments": "",
          "instanceIdentifier": "0674de50-8b50-340b-87b8-e6d2e274ceaf"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [
          
        ],
        "bends": [
          
        ],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "cd19d3f5-335c-335f-9b63-a41153ffaaf5"
      },
      {
        "identifier": "9d05a433-1f81-3fa4-b202-05479e29fa7d",
        "instanceIdentifier": "31c8e4c8-20e2-30ce-b7a7-4ea23ebb960a",
        "name": "",
        "source": {
          "id": "156b3f4b-4a88-366c-81b3-49bbc7e4a099",
          "type": "PROCESSOR",
          "groupId": "cd19d3f5-335c-335f-9b63-a41153ffaaf5",
          "name": "QueryRecord",
          "comments": "",
          "instanceIdentifier": "0674de50-8b50-340b-87b8-e6d2e274ceaf"
        },
        "destination": {
          "id": "7b29ea73-c491-36f3-96b5-9f8674c68d46",
          "type": "PROCESSOR",
          "groupId": "cd19d3f5-335c-335f-9b63-a41153ffaaf5",
          "name": "JoltTransformRecord",
          "comments": "",
          "instanceIdentifier": "f41dafba-e5ed-311a-807e-475a8e2dbeab"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": [
          "bids"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [
          
        ],
        "bends": [
          {
            "x": -4.0,
            "y": -24.0
          }
        ],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "cd19d3f5-335c-335f-9b63-a41153ffaaf5"
      },
      {
        "identifier": "7a843efd-7ddc-365f-b90a-8a10419a69f9",
        "instanceIdentifier": "d2b0ed3b-0181-1000-0000-000053d99e1d",
        "name": "",
        "source": {
          "id": "ee0813a3-9c26-3574-9521-87a15e36760b",
          "type": "PROCESSOR",
          "groupId": "cd19d3f5-335c-335f-9b63-a41153ffaaf5",
          "name": "MergeRecord",
          "comments": "",
          "instanceIdentifier": "d2b04773-0181-1000-ffff-ffffb6f8b77c"
        },
        "destination": {
          "id": "098fc97d-0714-371d-a1fa-b9a47b7fc3b2",
          "type": "PROCESSOR",
          "groupId": "cd19d3f5-335c-335f-9b63-a41153ffaaf5",
          "name": "ConvertRecord",
          "comments": "",
          "instanceIdentifier": "d2cab53d-0181-1000-ffff-ffffea8baef3"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "merged"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [
          
        ],
        "bends": [
          
        ],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "cd19d3f5-335c-335f-9b63-a41153ffaaf5"
      },
      {
        "identifier": "ca8c958e-4fe7-3c74-bf76-ee7ee839586b",
        "instanceIdentifier": "e95b49f5-6fcd-341c-8acc-bc34deb2be41",
        "name": "",
        "source": {
          "id": "156b3f4b-4a88-366c-81b3-49bbc7e4a099",
          "type": "PROCESSOR",
          "groupId": "cd19d3f5-335c-335f-9b63-a41153ffaaf5",
          "name": "QueryRecord",
          "comments": "",
          "instanceIdentifier": "0674de50-8b50-340b-87b8-e6d2e274ceaf"
        },
        "destination": {
          "id": "7b29ea73-c491-36f3-96b5-9f8674c68d46",
          "type": "PROCESSOR",
          "groupId": "cd19d3f5-335c-335f-9b63-a41153ffaaf5",
          "name": "JoltTransformRecord",
          "comments": "",
          "instanceIdentifier": "f41dafba-e5ed-311a-807e-475a8e2dbeab"
        },
        "labelIndex": 0,
        "zIndex": 0,
        "selectedRelationships": [
          "asks"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [
          
        ],
        "bends": [
          {
            "x": 452.0,
            "y": -24.0
          }
        ],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "cd19d3f5-335c-335f-9b63-a41153ffaaf5"
      },
      {
        "identifier": "a95b4efc-9a7f-3b5b-b97b-20ad56de57fd",
        "instanceIdentifier": "2fa85c22-38fb-3a54-a1b7-d1daaec3f32a",
        "name": "",
        "source": {
          "id": "860b0392-147f-3ab8-ada4-0e431ad56955",
          "type": "PROCESSOR",
          "groupId": "cd19d3f5-335c-335f-9b63-a41153ffaaf5",
          "name": "InvokeHTTP",
          "comments": "",
          "instanceIdentifier": "5a57d631-b7a5-34ef-8bef-6164cad050b8"
        },
        "destination": {
          "id": "f7a70e54-5d40-36d9-9ee6-8e30c58d758a",
          "type": "PROCESSOR",
          "groupId": "cd19d3f5-335c-335f-9b63-a41153ffaaf5",
          "name": "UpdateAttribute",
          "comments": "",
          "instanceIdentifier": "1752da0e-7c94-3790-96e6-d77e9cb58c53"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "Response"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [
          
        ],
        "bends": [
          
        ],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "cd19d3f5-335c-335f-9b63-a41153ffaaf5"
      }
    ],
    "labels": [
      
    ],
    "funnels": [
      {
        "identifier": "c8a23b64-f67d-3804-897f-61a09cf5fec0",
        "instanceIdentifier": "d2d4b603-0181-1000-0000-000049db972f",
        "position": {
          "x": 696.0,
          "y": 704.0
        },
        "componentType": "FUNNEL",
        "groupIdentifier": "cd19d3f5-335c-335f-9b63-a41153ffaaf5"
      }
    ],
    "controllerServices": [
      {
        "identifier": "bd49bdff-19d3-3282-a15b-1a863714b947",
        "instanceIdentifier": "cf0259dd-f954-33cb-852b-bf1a1b00acba",
        "name": "KeytabCredentialsService",
        "comments": "",
        "type": "org.apache.nifi.kerberos.KeytabCredentialsService",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-kerberos-credentials-service-nar",
          "version": "1.16.0.2.2.5.1-1"
        },
        "properties": {
          "Kerberos Keytab": "#{Kerberos Keytab}",
          "Kerberos Principal": "#{Kerberos Principal}"
        },
        "propertyDescriptors": {
          "Kerberos Keytab": {
            "name": "Kerberos Keytab",
            "displayName": "Kerberos Keytab",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": {
              "cardinality": "SINGLE",
              "resourceTypes": [
                "FILE"
              ]
            }
          },
          "Kerberos Principal": {
            "name": "Kerberos Principal",
            "displayName": "Kerberos Principal",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.kerberos.KerberosCredentialsService",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "1.16.0.2.2.5.1-1"
            }
          }
        ],
        "scheduledState": "ENABLED",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "cd19d3f5-335c-335f-9b63-a41153ffaaf5"
      },
      {
        "identifier": "d97fafbd-3ab7-3791-abcb-8c027c863c6b",
        "instanceIdentifier": "d2cb2c49-0181-1000-ffff-ffffa5c55557",
        "name": "ParquetRecordSetWriter",
        "type": "org.apache.nifi.parquet.ParquetRecordSetWriter",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-parquet-nar",
          "version": "1.16.0.2.2.5.1-1"
        },
        "properties": {
          "schema-branch": null,
          "max-padding-size": null,
          "avro-write-old-list-structure": "true",
          "row-group-size": null,
          "schema-cache": null,
          "enable-dictionary-encoding": null,
          "Schema Write Strategy": "no-schema",
          "page-size": null,
          "writer-version": null,
          "compression-type": "UNCOMPRESSED",
          "schema-name": "${schema.name}",
          "cache-size": "1000",
          "schema-registry": null,
          "enable-validation": null,
          "dictionary-page-size": null,
          "int96-fields": null,
          "schema-access-strategy": "inherit-record-schema",
          "schema-protocol-version": "1",
          "schema-version": null,
          "schema-text": "${avro.schema}",
          "avro-add-list-element-records": "true"
        },
        "propertyDescriptors": {
          "schema-branch": {
            "name": "schema-branch",
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "max-padding-size": {
            "name": "max-padding-size",
            "displayName": "Max Padding Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "avro-write-old-list-structure": {
            "name": "avro-write-old-list-structure",
            "displayName": "Avro Write Old List Structure",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "row-group-size": {
            "name": "row-group-size",
            "displayName": "Row Group Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-cache": {
            "name": "schema-cache",
            "displayName": "Schema Cache",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "enable-dictionary-encoding": {
            "name": "enable-dictionary-encoding",
            "displayName": "Enable Dictionary Encoding",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Schema Write Strategy": {
            "name": "Schema Write Strategy",
            "displayName": "Schema Write Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "page-size": {
            "name": "page-size",
            "displayName": "Page Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "writer-version": {
            "name": "writer-version",
            "displayName": "Writer Version",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "compression-type": {
            "name": "compression-type",
            "displayName": "Compression Type",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-name": {
            "name": "schema-name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "cache-size": {
            "name": "cache-size",
            "displayName": "Cache Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-registry": {
            "name": "schema-registry",
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "enable-validation": {
            "name": "enable-validation",
            "displayName": "Enable Validation",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dictionary-page-size": {
            "name": "dictionary-page-size",
            "displayName": "Dictionary Page Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "int96-fields": {
            "name": "int96-fields",
            "displayName": "INT96 Fields",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-access-strategy": {
            "name": "schema-access-strategy",
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-protocol-version": {
            "name": "schema-protocol-version",
            "displayName": "Schema Protocol Version",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-version": {
            "name": "schema-version",
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-text": {
            "name": "schema-text",
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "avro-add-list-element-records": {
            "name": "avro-add-list-element-records",
            "displayName": "Avro Add List Element Records",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.serialization.RecordSetWriterFactory",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "1.16.0.2.2.5.1-1"
            }
          }
        ],
        "scheduledState": "ENABLED",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "cd19d3f5-335c-335f-9b63-a41153ffaaf5"
      },
      {
        "identifier": "c5b28ed7-85dc-337a-b6cc-15a8de026457",
        "instanceIdentifier": "f04e76a3-88df-3ce1-9245-b917576f3e60",
        "name": "JsonTreeReader",
        "type": "org.apache.nifi.json.JsonTreeReader",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-record-serialization-services-nar",
          "version": "1.16.0.2.2.5.1-1"
        },
        "properties": {
          "Timestamp Format": null,
          "schema-inference-cache": null,
          "Date Format": null,
          "schema-branch": null,
          "schema-name": "${schema.name}",
          "schema-registry": null,
          "Time Format": null,
          "schema-access-strategy": "infer-schema",
          "schema-version": null,
          "schema-text": "${avro.schema}"
        },
        "propertyDescriptors": {
          "Timestamp Format": {
            "name": "Timestamp Format",
            "displayName": "Timestamp Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-inference-cache": {
            "name": "schema-inference-cache",
            "displayName": "Schema Inference Cache",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Date Format": {
            "name": "Date Format",
            "displayName": "Date Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-branch": {
            "name": "schema-branch",
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-name": {
            "name": "schema-name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-registry": {
            "name": "schema-registry",
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Time Format": {
            "name": "Time Format",
            "displayName": "Time Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-access-strategy": {
            "name": "schema-access-strategy",
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-version": {
            "name": "schema-version",
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-text": {
            "name": "schema-text",
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.serialization.RecordReaderFactory",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "1.16.0.2.2.5.1-1"
            }
          }
        ],
        "scheduledState": "ENABLED",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "cd19d3f5-335c-335f-9b63-a41153ffaaf5"
      },
      {
        "identifier": "42b76ac1-2468-3191-b488-f27ff6a8619d",
        "instanceIdentifier": "be8aae2f-bcf7-33dc-a78e-f51dbcde0eb0",
        "name": "JsonRecordSetWriter",
        "type": "org.apache.nifi.json.JsonRecordSetWriter",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-record-serialization-services-nar",
          "version": "1.16.0.2.2.5.1-1"
        },
        "properties": {
          "schema-branch": null,
          "compression-level": "1",
          "schema-cache": null,
          "Timestamp Format": null,
          "Date Format": null,
          "Pretty Print JSON": "false",
          "compression-format": "none",
          "Schema Write Strategy": "no-schema",
          "suppress-nulls": "never-suppress",
          "output-grouping": "output-array",
          "schema-name": "${schema.name}",
          "schema-registry": null,
          "Time Format": null,
          "schema-access-strategy": "inherit-record-schema",
          "schema-protocol-version": "1",
          "schema-version": null,
          "schema-text": "${avro.schema}"
        },
        "propertyDescriptors": {
          "schema-branch": {
            "name": "schema-branch",
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "compression-level": {
            "name": "compression-level",
            "displayName": "Compression Level",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-cache": {
            "name": "schema-cache",
            "displayName": "Schema Cache",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Timestamp Format": {
            "name": "Timestamp Format",
            "displayName": "Timestamp Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Date Format": {
            "name": "Date Format",
            "displayName": "Date Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Pretty Print JSON": {
            "name": "Pretty Print JSON",
            "displayName": "Pretty Print JSON",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "compression-format": {
            "name": "compression-format",
            "displayName": "Compression Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Schema Write Strategy": {
            "name": "Schema Write Strategy",
            "displayName": "Schema Write Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "suppress-nulls": {
            "name": "suppress-nulls",
            "displayName": "Suppress Null Values",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "output-grouping": {
            "name": "output-grouping",
            "displayName": "Output Grouping",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-name": {
            "name": "schema-name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-registry": {
            "name": "schema-registry",
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Time Format": {
            "name": "Time Format",
            "displayName": "Time Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-access-strategy": {
            "name": "schema-access-strategy",
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-protocol-version": {
            "name": "schema-protocol-version",
            "displayName": "Schema Protocol Version",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-version": {
            "name": "schema-version",
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-text": {
            "name": "schema-text",
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.serialization.RecordSetWriterFactory",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "1.16.0.2.2.5.1-1"
            }
          }
        ],
        "scheduledState": "ENABLED",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "cd19d3f5-335c-335f-9b63-a41153ffaaf5"
      }
    ],
    "variables": {
      
    },
    "parameterContextName": "Crypto_demo_parameters",
    "defaultFlowFileExpiration": "0 sec",
    "defaultBackPressureObjectThreshold": 10000,
    "defaultBackPressureDataSizeThreshold": "1 GB",
    "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
    "flowFileConcurrency": "UNBOUNDED",
    "componentType": "PROCESS_GROUP"
  },
  "externalControllerServices": {
    
  },
  "parameterContexts": {
    "Crypto_demo_parameters": {
      "name": "Crypto_demo_parameters",
      "parameters": [
        {
          "name": "Table Name",
          "description": "",
          "sensitive": false,
          "value": "order_book"
        },
        {
          "name": "confFiles",
          "description": "",
          "sensitive": false,
          "value": "/tmp/hive-site.xml,/tmp/hdfs-site.xml,/tmp/core-site.xml"
        },
        {
          "name": "AWS Secret Access Key",
          "description": "",
          "sensitive": true
        },
        {
          "name": "Kerberos Keytab",
          "description": "",
          "sensitive": false,
          "value": "/tmp/{username}.keytab"
        },
        {
          "name": "AWS Access Key ID",
          "description": "",
          "sensitive": true
        },
        {
          "name": "CryptoOrderBookAPI",
          "description": "",
          "sensitive": false,
          "value": "https://api.blockchain.com/v3/exchange/l2/BTC-USD"
        },
        {
          "name": "Hive Metastore URI",
          "description": "",
          "sensitive": false,
          "value": "thrift://{HMS-HOST}:9083"
        },
        {
          "name": "Kerberos Principal",
          "description": "",
          "sensitive": false,
          "value": "csso_{cdpusername}"
        },
        {
          "name": "Database Name",
          "description": "",
          "sensitive": false,
          "value": "default"
        },
        {
          "name": "CDPEnvironment",
          "description": "",
          "sensitive": false,
          "value": "/tmp/hive-site.xml,/tmp/hdfs-site.xml,/tmp/core-site.xml"
        },
        {
          "name": "Kerberos Password",
          "description": "",
          "sensitive": true
        },
        {
          "name": "s3 location for data",
          "description": "",
          "sensitive": false,
          "value": "{bucketname}/data/warehouse/tablespace/external/hive/order_book_external"
        }
      ],
      "inheritedParameterContexts": [
        
      ],
      "componentType": "PARAMETER_CONTEXT"
    }
  },
  "flowEncodingVersion": "1.0"
}